<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fluid AI Hackathon Start</title>
</head>
<body>
Start by giving your mobile number
<br><br>

<!-- Start by providing me your mobile number: -->


<form action="test_instructions/">
<input type='text' name='mobile'>
<br><br>
<input type="radio" name="language" value="nodejs"> Nodejs <br>
<input type="radio" name="language" value="python"> Python <br>
<input type="radio" name="language" value="linux"> Linux <br>
<br>
<input type='submit' text='Start Test'>
<br><br>
</form>
</body>
</html>